:root {
  --linear-gradient-1: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --clr-red: hsl(0, 100%, 66%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-violet-5: hsl(270, 3%, 87%);
  --clr-violet-7: hsl(279, 6%, 55%);
  --clr-violet-9: hsl(278, 68%, 11%);
}
