@use '../abstracts' as *;

:root {
  --ff-space-grotesk: 'Space Grotesk', sans-serif;
  --fs-1: 0.688rem;
  --fs-2: 0.813rem;
  --fs-3: 1.125rem;
  --fs-4: 1.125rem;
  --fs-5: 1.75rem;
  --fw-4: 400;
  --fw-5: 500;

  @include breakpoint-down(xsmall) {
    --fs-1: 0.625rem;
    --fs-3: 1rem;
    --fs-4: clamp(0.938rem, 5.5vw, 1.125rem);
    --fs-5: 1.5rem;
  }

  @include breakpoint(large) {
    --fs-1: 0.875rem;
    --fs-2: 0.875rem;
    --fs-4: 1.75rem;
  }
}

body {
  font-family: var(--ff-space-grotesk);
  font-size: var(--fs-3);
  font-weight: var(--fw-5);
}
